<div class="post--card">
  <%= link_to post_path(post), class:"post--card__title post--card__bg-color-1" do %>
    <span><%= post.title %></span>
  <% end %>
  <div class="post--card__content--container">
    <div class="post--card__content--info"><span class="post--card__content--user">投稿者 <%= post.user_name %></span><span class="post--card__content--published"><%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %></span></div>
    <span class="post--card__content--content"><%= simple_format(post.card_content) %></span>
    <span class="post--card__content--continude"><%= link_to "編集する", edit_post_path(post) %></span>
    <span class="post--card__content--continude"><%= link_to "続きを読む", post_path(post) %></span>
  </div>
</div>
