<article class="posts--show">
  <h2 class="title"><span><%= @post.title %></span></h2>
  <section class="content"><%= @post.content.html_safe %></section>
  <div class="comments-container">
    <div style="border-top: solid 1px #777;">
      <h2 class="center">コメント一覧</h2>
      <%= render partial:'comments/comment', collection:@comments %>
    </div>
    <%= form_with model: [:post, @post.comments.build], url: post_comments_path(post_id:params[:id]), class: 'comment-form' do |c| %>
      <%= c.hidden_field :user_id, value: current_user ? current_user.id : "" %>
      <%= c.text_area :content %>
      <div class="submit-container">
        <%= c.submit '投稿', class: 'comment-submit' %>
      </div>
    <% end %>
  </div>
  <% if @post.user.id == current_user.id %>
    <%= link_to "編集", edit_post_path(@post), class: 'center', style: 'margin: 20px 0px;' %>
  <% end %>
  <%= link_to "一覧へ戻る", posts_path, class: 'center', style: 'margin: 20px 0px;' %>
</article>
<script>
  $(function() {
    $('#comment_content').froalaEditor();
  });
</script>