<div class="users-show">
  <div class="header">
    <h2><%= @user.name %></h2>
    <%= image_tag('/user.png', :class =>'profile-image', :style => 'border-radius:50%;') %>
  </div>
  <div class="posts-container">
    <h2 class="center">投稿一覧</h2>
    <%= link_to 'カテゴリの作成', categories_path, style:"margin-left:10px;" %>
    <%= link_to "カテゴリー関連付け", new_post_category_path, class: 'center', style: 'margin: 20px 0px;' %>
    <%= render partial: 'posts/post', collection: @posts %>
    <%= will_paginate @posts %>
  </div>
  <div class="comments-container">
    <h2 class="center">コメント一覧</h2>
    <%= render @comments %>
    <%= will_paginate @comments %>
  </div>
</div>
