<article class="posts--show">
  <h2 class="title"><span><%= @post.title %></span></h2>
  <section class="content"><%= simple_format(@post.content) %></section>
  <div class="comments-container">
    <div style="border-top: solid 1px #777;">
      <h2 class="center">コメント一覧</h2>
      <%= render @comments %>
    </div>
    <%= form_for @post.comments.build, class: 'comment-form' do |c| %>
      <%= c.hidden_field :post_id, value: @post.id %>
      <%= c.hidden_field :user_id, value: current_user ? current_user.id : "" %>
      <%= c.text_area :content %>
      <div class="submit-container">
        <%= c.submit '投稿', class: 'comment-submit' %>
      </div>
    <% end %>
  </div>
  <%= link_to "一覧へ戻る", posts_path, class: 'center', style: 'margin: 20px 0px;' %>
</article>
<script>
  $(function() {
    $('#comment_content').froalaEditor();
  });
</script>